<nav class="container bottom-nav-container">
	<div class="row">
		<div class="col col-half">
			<ul class="bottom-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/archive/">Past Meetings</a></li>
			</ul>
		</div>
		<div class="col col-half twitter-container">
			<a class="twitter-follow-button" href="https://twitter.com/desmoinesjs">Follow @desmoinesjs</a>
		</div>
	</div>
</nav>
<footer>
	<div class="container footer-container">
		Copyright &copy; dsmJS 2013 - {{ site.time | date: '%Y' }}
	</div>
</footer>
