<nav class="container bottom-nav-container">
	<div class="row">
		<div class="col col-half-s">
			<ul class="bottom-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/archive/">Past Meetings</a></li>
			</ul>
		</div>
		<div class="col col-half-s social-container">
			<a href="https://twitter.com/desmoinesjs" class="icon-button" title="@desmoinesjs"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>

			<a href="https://github.com/dsmjs/dsmjs.github.io" class="icon-button" title="github/dsmjs"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
		</div>
	</div>
</nav>
<footer>
	<div class="container footer-container">
		Copyright &copy; dsmJS 2013 - {{ site.time | date: '%Y' }}
	</div>
</footer>
