<header class="header">
	<div class="container header-container">
		<a href="/" class="header-title">
			<img src="img/dsmjs-logo.png" />
			<h1 class="sr-only">dsmJS</h1>
		</a>
		<div class="header-info">
			<div class="header-info-row blue" itemprop="name">dsmJS</div>
			<div itemprop="location" itemscope itemtype="http://schema.org/Place">
				<div class="header-info-row green" itemprop="name">Gravitate</div>
				<div class="header-info-row pink" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">206 6th Ave, Third Floor</span>
					<span itemprop="addressLocality">Des Moines</span>,
					<span itemprop="addressRegion">IA</span>
					<span itemprop="postalCode">50309</span>
				</div>
			</div>
			<div class="header-info-row purple">Second Tuesday every month</div>
		</div>
	</div>
</header>