<header class="header">
	<div class="container header-container">
		<a href="/" class="header-title">
			<img src="img/dsmjs-logo.png" />
			<h1 class="sr-only">dsmJS</h1>
		</a>
		<div class="header-info">
			<div class="blue" itemprop="name">dsmJS</div>
			<div itemprop="location" itemscope itemtype="http://schema.org/Place">
				<div class="green" itemprop="name">Principal Financial Group</div>
				<div class="location-address pink" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">655 8th St.</span> 
					<span itemprop="addressLocality">Des Moines</span>,
					<span itemprop="addressRegion">IA</span>
					<span itemprop="postalCode">50392</span>
				</div>
			</div>
			<div class="purple">Second Tuesday every month</div>
		</div>
	</div>
</header>