.bottom-nav-container {
	background: #666;
	font-size: 1.1em;

	@media all and (min-width: 40em) {
		font-size: 0.9em;
	}

	a {
		color: #fff;
	}
}

.bottom-nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;

	> li {
		padding: 0.5em;
	}
}

.social-container {
	padding: 0.5em;
	text-align: right;
}
