.paginator-list {
	list-style: none;
	padding: 0;
	display: flex;

	> li {
		flex: 1 0 auto;
		text-align: center;

		> a {
			display: block;
			padding: 0.25em 0.5em;
			text-decoration: none;

			&:hover,
			&:focus {
				background: #eee;
			}
		}

		&.disabled > a {
			color: #999;
			background: #fff;
			cursor: normal;
		}

		&.active > a {
			background: #ced;
		}
	}
}