.talk-title {
	color: $purple;
	margin-bottom: 0.25em;
}

.meeting-title {
	margin-bottom: 0.25em;
	margin-top: 1em;
}

.talk-card {
	margin-bottom: 0.5em;
	margin-left: 1em;
	color: $blue;
}

.talk-info {
	background-color: #f9f9f9;
	padding: 0.5rem;
	font-size: 0.9em;
	margin-bottom: 1rem;

	.icon {
		fill: #888;
	}
}