<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="default : Welcome to dsmJS!" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//fonts.googleapis.com/css?family=Quicksand:400,300,700" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
	<title>dsmJS - Des Moines JavaScript User Group</title>
</head>

<body itemscope itemtype="http://schema.org/Event">
<!-- HEADER -->
{% include header.html %}

<!-- MAIN CONTENT -->
<main class="main">
	<section class="container">
		{{ content }}
	</section>
</main>

<!-- FOOTER  -->
{% include footer.html %}

</body>
</html>
