<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="default : Welcome to dsmJS!" />
<link rel="stylesheet" type="text/css" media="screen" href="assets/stylesheets/stylesheet.css">
<title>dsmJS - Des Moines JavaScript User Group</title>
</head>

<body>
<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/dsmjs">View on GitHub</a>
        <a id="group_banner" href="https://groups.google.com/forum/?fromgroups#!forum/dsmjs">Visit Google Group</a>
        <h1 id="project_title">dsmJS</h1>
        <h2 id="project_tagline">Welcome!</h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        {{ content }}
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p>Copyright &copy; dsmJS 2013</p>
    </footer>
</div>
</body>
</html>
