<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="description" content="default : Welcome to dsmJS!" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
	<title>{{ page.title }}  - Des Moines JavaScript User Group</title>
</head>

<body itemscope itemtype="http://schema.org/Event">
{%- include icons.html -%}

{%- include header.html -%}

<main class="main">
	<section class="container">
		{{ content }}
	</section>
</main>

{%- include footer.html -%}

</body>
</html>
